# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
ionic/platforms/
ionic/plugins/

ionic/www/css
ionic/www/js
ionic/www/lib

server/credentials.js

server/npm-debug.log