<!DOCTYPE html>
<html>

<head>
  <title>parkHere Admin Console</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/scripts/parkHereFactory.js"></script>
  <script type="text/javascript" src="/scripts/googleMaps.js"></script>
</head>

<body>
  <div id="map" style="width: 600px; height: 600px"></div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQtm8lJOAE4xFq1t62q5myWOOL-nsUgpI&callback=initMap">
  </script>
</body>

</html>
