<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ionic.app.css" rel="stylesheet">


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="parkhere">

    <ion-pane>
      <ion-header-bar class="bar-positive">
        <div class="row row-center">
          <div class="col col-50">
            <a class="nav-toggle" href="#"><img src="images/nav.png" alt=""></a>
            <img class="logo" src="images/logo.png" alt="">
          </div>
          <div class="col col-50 text-right">
            <a href="#" class="timer"><img src="images/timer.png" alt=""></a>
            <a href="#" class="search"><img src="images/search.png" alt=""></a>
          </div>
        </div>
      </ion-header-bar>
      <!-- <div class="bar bar-subheader nav-tabs">
        <div class="row">
          <div class="col text-center">
            <a href="#">Street</a>
          </div>
          <div class="col text-center">
            <a href="#">Garage</a>
          </div>
          <div class="col text-center">
            <a href="#">Private</a>
          </div>
        </div>
      </div> -->
      <ion-content>
        <div class='list'>
          <label class='item item-input'>
            <input type='text' ng-model='userName' placeholder='User Name'>
          </label>
          <label class='item item-input'>
            <input type='password' ng-model='password' placeholder='Password'>
          </label>
          <button class="button button-block button-balanced" ng-click='login()'>Login</button>
        </div>
       </ion-content>
    </ion-pane>
  </body>
</html>
